extends /layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('User Permissions','/user/permission/create','Create Permission')
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Interface
          th URI
          th Level
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td= row.interface
            td
              a(href='/user/permission/edit?id=#{row.id}')= row.uri
            td #{row.level} (#{permissionLevels[row.level].name})
      +tableFooter(page,count)