extends /layout
block content
  .container
    +tableHeader('Staff','/staff/create','Create Staff')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Email
          th Full Name
          th Last Login #{timezone}
          th Login Count
          th Last Failed Login #{timezone}
          th Failed Login Count
          th Active
        each row in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td.mono
              a(href='/staff/edit?id=' + row.id)= row.email
            td.mono
              a(href='/staff/edit?id=' + row.id)= row.name
            td.mono
              if row.dateSeen
                div.text-success= momentStandardFormat(row.dateSeen)
              else
                div.text-muted= momentStandardFormat(row.dateSeen)
            td.mono= row.loginCount || 0
            td.mono
              if row.dateFail
                div.text-danger= momentStandardFormat(row.dateFail)
              else
                div.text-muted= momentStandardFormat(row.dateFail)
            td.mono= row.loginFailCount || 0
            td
              +active(row.active)
      +tableFooter(page,count)
