extends /layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Users','/user/create','Create User')
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Full Name
          th Email
          th Last Login
          th Active
          th Actions
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/user/manage?id=#{row.id}')= row.name
            td= row.email
            td
              if row.dateSeen
                div.text-success= new Date(row.dateSeen * 1000).toDateString()
              if row.dateFail
                div.text-danger= new Date(row.dateFail * 1000).toDateString()
            td
              +active(row.active)
            td
              a(href='/user/edit?id=#{row.id}')
                span.glyphicon.glyphicon-edit
                span  Edit
      +tableFooter(page,count)