extends /layout
block append js
  script(src='/js/table.js')
block content
  .container-fluid
    +tableHeader('Settings')
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Setting
          th Type
          th Default
          th Current Value
          th Action
        each row,i in list
          if(row.group)
            tr.info
              td
              td(style='padding-left: #{20 + (row.parts.length - 1) * 20}px')
                strong= row.group
                div.text-muted
                  small
                    span= row.path
              td(colspan='4') group
          else
            tr(class=row.value !== row.defaultValue ? 'warning' : '')
              td
                input(type='checkbox', name='remove[]', value=row.path)
              td(style='padding-left: #{20 + (row.parts.length - 1) * 20}px')
                a(href='/setting/edit?path=#{row.path}')= row.name
                div.text-muted
                  small
                    span= row.path
                if(row.description)
                  p= row.description
              td= row.type
              td= row.defaultValue
              td= row.value
              td
                a(href='/setting/edit=?path=#{row.path}')
                  span.glyphicon.glyphicon-edit
      +tableFooter(page,count,'Clear Overrides','btn-warning')
