mixin tableHeader(title,createUrl,createLabel)
  div
    .pull-right
      form.form-inline#tableSearch(role='form', action='', method='get')
        .form-group
          select.form-control#tableLimit(name='limit')
            each i in [10,20,50,100,200,500]
              option(selected=i == limit)=i
        .form-group
          input.form-control(type='text', name='search', placeholder='Filter Results', value=search)
          button.btn.btn-primary(type='submit')
            span.glyphicon.glyphicon-search
        if createUrl
          span &nbsp;
          a.btn.btn-success(href=createUrl)
            span.glyphicon.glyphicon-plus
            span  #{createLabel}
    h1=title
mixin tableFooterNoAction(page,count)
  div
    .pull-right.btn-group
      a.btn.btn-default(href='?start=' + page.previous + '&search=' + search) Previous
      a.btn.btn-default(href='?start=' + page.next + '&search=' + search) Next
    span #{page.start + 1} - #{page.end} of #{count} entries
mixin tableFooter(page,count,actionText,actionClass)
  - if(!actionText) actionText = 'Delete Checked'
  - if(!actionClass) actionClass = 'btn-danger'
  div
    .pull-right.btn-group
      a.btn.btn-default(href='?start=' + page.previous + '&search=' + search) Previous
      a.btn.btn-default(href='?start=' +page.next + '&search=' + search) Next
    span #{page.start + 1} - #{page.end} of #{count} entries
    div
      button.btn#tableDelete(type='submit', class=actionClass)= actionText
mixin tableMaintenanceFooter(page,count)
  div
    .pull-right.btn-group
      a.btn.btn-default(href='?start=' + page.previous + '&search=' + search) Previous
      a.btn.btn-default(href='?start=' + page.next + '&search=' + search) Next
    span #{page.start + 1} - #{page.end} of #{count} entries
    div
      button.btn.btn-success#tableResolve(type='submit') Resolve Checked