extends /layout
block content
  .container
    h1= user.name
    .row
      .col-sm-6.detail-box
        div
          .pull-right
            span.glyphicon.glyphicon-edit
            a(href='/user/edit?id=#{user.id}') Edit
          h4 Details
        table.table.table-striped
          thead
            th Param
            th Value
          tbody
            tr
              td Email
              td= user.email
            tr
              td Active
              td
                +active(user.active)
            tr
              td Last Login
              td= moment(user.dateSeen * 1000).fromNow()
            tr
              td Last Failed Login
              td
                if !user.dateFail
                  span Never
                else
                  span= moment(user.dateFail * 1000).fromNow()
      .col-sm-6.detail-box
        div
          h4 Actions
        ul
          li
            a(href='/user/compilePermissions?id=#{user.id}') Compile Permissions
          li
            a(href='/user/forcePasswordChange?id=#{user.id}') Force Password Change
          li
            a(href='/user/activate?id=#{user.id}') #{user.active ? 'Deactivate' : 'Activate'}
    .row
      .col-sm-12.detail-box
        div
          .pull-right
            a.btn.btn-success(href=createUrl)
              span.glyphicon.glyphicon-plus
              span  Add Role
          h3 Roles
        table.table.table-striped
          thead
            tr
              th
              th Role
          tbody
            each role in user.UserRoles
              tr
                td
                  input(type='checkbox', name='userRoleAction[]', value=role.id)
                td=role.name
            else
              tr
                td(colspan='2') No roles assigned
    .row
      .col-sm-12.detail-box
        div
          .pull-right
            a.btn.btn-success(href=createUrl)
              span.glyphicon.glyphicon-plus
              span  Add Permission
            span &nbsp;
            a.btn.btn-primary(href='/user/permission/list?user=#{user.id}')
              span.glyphicon.glyphicon-list
              span  View All
          h3 Permissions
        table.table.table-striped
          thead
            tr
              th Interface
              th URI
              th Permission
          tbody
            each permission  in user.UserPermissions
              tr
                td=permission.interface
                td=permission.uri
                td #{permission.level} (#{permissionLevels[permission.level].name})
            else
              tr
                td(colspan='2') No permissions assigned
    .row
      .col-sm-12.detail-box
        div
          .pull-right
            a.btn.btn-primary(href='/user/activity')
              span.glyphicon.glyphicon-list
              span  View All
          h3 Activity
        table.table.table-striped
          thead
            tr
              th When
              th Interface
              th URI
              th Write
              th Permission
          tbody
            each activity  in user.UserActivities
              tr
                td=moment.fromNow(activity.dateCreated)
                td=activity.interface
                td=activity.uri
                td
                  +active(activity.isWrite)
                td=activity.message
            else
              tr
                td(colspan='2') No user activity
