mixin navbar()
  //navbar
  .navbar.navbar-default
    .container
      a.navbar-brand(href='/') Nullivex
      ul.nav.navbar-nav
        li
          a(href='/blog')
            span.fa.fa-newspaper-o  Blog
      .pull-right
        ul.nav.navbar-nav
          li
            a(href='https://bugs.nullivex.com')
              span.fa.fa-bug  Bug Tracker

mixin sidebar()
  nav.navbar.navbar-inverse.sidebar(role='navigation')
    .sidebar-copyright
      div &copy; Kado. Version #{version}
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Navigation
      .collapse.navbar-collapse#bs-sidebar-navbar-collapse-1
        ul.nav.navbar-nav
          each group in nav.group
            if(nav.nav[group.name].length > 0)
              li(class=group.uri === currentUri ? 'active' : '' + ' dropdown')
                a.dropdown-toggle(href=group.uri, data-toggle='dropdown')
                  if(group.icon)
                    b.caret
                    span  #{group.name}
                    span(class="pull-right hidden-xs showopacity glyphicon glyphicon-#{group.icon}")
                  else
                    span #{group.name}
                ul.dropdown-menu
                  each item in nav.nav[group.name]
                    li(class=item.uri === currentUri ? 'active' : '')
                      a(href=item.uri)
                        if(group.icon)
                          span  #{item.name}
                          span(class="pull-right hidden-xs showopacity glyphicon glyphicon-#{item.icon}")
                        else
                          span #{item.name}
            else
              li(class=group.uri === currentUri ? 'active' : '')
                a(href=group.uri)
                  if(group.icon)
                    span #{group.name}
                    span(class="pull-right hidden-xs showopacity glyphicon glyphicon-#{group.icon}")
                  else
                    span #{group.name}
