extends /layout
block content
  .container
    h1 Update Setting
    form.form-horizontal(action='/setting/save', method='post', role='form')
      input(type='hidden', name='path', value=setting.path)
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          form-control-static= setting.name
      .form-group
        label.control-label.col-sm-2 Path
        .col-sm-10
          form-control-static= setting.path
      if setting.description
        .form-group
          label.control-label.col-sm-2 Description
          .col-sm-10
            form-control-static= setting.description
      if setting.defaultValue
        .form-group
          label.control-label.col-sm-2 Default Value
          .col-sm-10
            form-control-static= setting.defaultValue
      .form-group
        label.control-label.col-sm-2 Value
        .col-sm-10
          input.form-control(type='text', placeholder=setting.defaultValue, name='value' value=setting.value)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
      .alert.alert-warning Changes wont take affect until Kado is restarted.